.topnav {
    font-size: 14px;
}
.main-content{
    padding-top: 70px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    background-color: #f8f8f8;
    padding-top: 30px;
}


svg {
    font: 10px sans-serif;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
}

.legend text{
    font-size:14px;
}

.legend rect:hover{
    cursor:pointer;
}


.legend rect.clicked{
    opacity: .3;
}

.top-buffer { margin-top:20px; }

.description{
    line-height: 1.5;
}

.hide {
    display: none;
}

ul{
    list-style-position: inside;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}